---
import PlaceCard from "@/components/PlaceCard.astro";
import { prisma } from "@/db";
import MainLayout from "@/layouts/MainLayout.astro";

const places = await prisma.place.findMany();
---

<MainLayout>
  <h1 class="text-3xl font-bold">Lugares</h1>

  <div class="grid grid-cols-3 gap-4">
    <PlaceCard />
  </div>
</MainLayout>
